*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.allcontainer{
    background-color: #fff;
    padding: 90px;
    
}

.imges{
    text-align: center;
}
.allcontainer .imges img{
    height: auto;
    width: 100%;
   
}
.navbar{
    background-color: #fff;
}
.nav-link{
    color: #100b08;
}
.navbar-toggler-icon{
    color: #100b08;
}


.containers .content,
.containers-two .content-two{
    justify-content: space-between;
    padding: 10px 10px 0px 10px;

}
.containers .content .icon-up{
    border-radius: 50%;
    color: #fff;
    height: 20px;
    text-align: center;
    width: 20px;
    background-color:#ffab5e ;
    font-size: 10px;
    align-content: center;
}


.allcors .itst,
.allcors-two .itst-two{
    background-color:#f0f3f6 ;
    position: relative;
    color:#fff;
}

.iterq:before {
    background: #fff;
    content: "";
    height: 16px;
    left: 66px;
    left: 64px;
    position: absolute;
    top: -8px;
    transform: rotate(-45deg);
    width: 16px;
    z-index: 9;
}

.element{
    margin: 0 3.5em;
    padding: 10px 0px;
}

.element a{
   text-decoration: none;
   color: black;
}
.element span{
    background-color: #fff;
    border: 4px solid #e2e7ed;
    border-radius: 100%;
    display: inline-block;
    flex-basis: 26px;
    flex-shrink: 0;
    height: 24px;
    position: relative;
    text-align: center;
    width: 24px;
    margin:-6px 4px;
}
.element .item{
    padding: 10px 0px;
}
.element .item a{
    color: #100b08;
  cursor: pointer;
}
.element .item a:hover{
    color: #ffab5e;
}
.content a{
    text-decoration: none;
    color: #ffab5e;
    align-content: center;
}

.content .icons{
    background-color: #fff;
    border: 4px solid #e2e7ed;
    border-radius: 100%;
    display: inline-block;
    flex-basis: 26px;
    flex-shrink: 0;
    height: 27px;
    text-align: center;
    width: 27px;
    margin:-8px 4px;
}

.topic{
    padding-left: 40px;
}

/**/
.element span{
    background-color: #fff;
    border: 4px solid #ffab5e;
    border-radius: 100%;
    display: inline-block;
    flex-basis: 26px;
    flex-shrink: 0;
    height: 24px;
    position: relative;
    text-align: center;
    width: 24px;
    margin:-6px 4px;
}

.content-two .icons-two {
    background-color: #fff;
    border: 4px solid #e2e7ed;
    border-radius: 100%;
    display: inline-block;
    flex-basis: 26px;
    flex-shrink: 0;
    height: 27px;
    text-align: center;
    width: 27px;
    margin: -8px 4px;
}

.allcors-two.itst-two{
    background-color:#ffab5e ;
    position: relative;
    color:#fff;
}

.allcors-two a {
    text-decoration: none;
    color: #100b08;
    align-content: center;
}

.containers-two .content-two .icon-up-two {
    border-radius: 50%;
    color: #fff;
    height: 20px;
    text-align: center;
    width: 20px;
    background-color: #ffab5e;
    font-size: 10px;
    align-content: center;
}

.content-two .linK_a,
.content-two a {
    text-decoration: none;
    color: #ffab5e;
    align-content: center;
    cursor: pointer;
}

.iterq-two {
    justify-content: space-between;
    padding: 20px 60px;
}

.iterq-two:before {
    background: #fff;
    content: "";
    height: 16px;
    left: 66px;
    left: 64px;
    position: absolute;
    top: -8px;
    transform: rotate(-45deg);
    width: 16px;
    z-index: 9;
}

.but{
   border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ffab5e;
    color: #fff;
}
/*
background-color: #fff;
    border-right: 1px solid #e2e7ed;
    bottom: 0;
    left: 0;
    padding-bottom: 90px;
    padding-top: 50px;
    position: fixed;
    top: 0;
    transition: all .3s ease;
    width: 350px;
    z-index: 99;
}
    */


.sections{
    width: calc(100% - 350px);
    margin-left: 350px;
    padding: 2em 5em;
}
.asideee{
    background-color: #fff;
    border-right: 1px solid #e2e7ed;
    bottom: 0;
    left: 0;
    padding-bottom: 90px;
    /* padding-top: 50px; */
     position: fixed; 
    top: 0;
    transition: all .3s ease;
    z-index: 99;
    width: 350px;
  }  

  .title{
    background-color: #ffab5e;
    padding: 20px 10px;
    color: #fff;
    position: relative;
  }
  .title h3{
    font-size: 1.4rem;
  }
  
  .data{
    padding-bottom: 2rem;
  }

  .data h1{
    padding-bottom: 20px;
    font-size: 50px;
  }
.text_content{
    border: solid 2px #e2e7ed ;
    border-radius: 10px;
    
}
.heading{
    display: flex;
    justify-content: space-between;
    background-color: #ffab5e;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.element_list span{
    background-color: #fff;
    border: 4px solid #e2e7ed;
    border-radius: 100%;
    display: inline-block;
    flex-basis: 26px;
    flex-shrink: 0;
    height: 24px;
    position: relative;
    text-align: center;
    width: 24px;
    margin:-6px 4px;
}

.item-one{
    border-bottom: 1px solid #e2e7ed
}

.ction button,
.ction a{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #ffab5e;
    text-decoration: none;
}

.ction{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1000px) {
    .sections {
        width: calc(100% - 350px);
        margin-left: 350px;
        padding: 2em 0em;
    }
  
   

}

@media (min-width: 900px) {
    .sections {
        width: calc(100% - 350px);
        margin-left: 350px;
        padding: 2em ;
    }
    .data video{
        width: 100%;
        height: 40%;
    } 

}

@media (max-width: 900px) {
    .sections {
        width: calc(100% - 350px);
        margin-left: 350px;
        /* padding: 2em 0; */
    }
    .data video{
        width: 100%;
        height: 40%;
    } 

} 
@media (max-width: 750px) {
    .asideee {
        display: none;
    }
    .show-button {
        display: block; 
    }
    .sections {
        margin-left: 65px;
        padding: 2em 0em;
        width: 100%;
    }
    .chevron-righ{
        /* display: block; */
    }
}

@media (min-width: 751px) {
    .asideee {
        display: block; 
    }
    .show-button {
     display: none;  
    }
}


.show-button .bar-1{
    background-color: #333;
    display: block;
    height: 4px;
    margin: 4px 0;
    transition: all .25s ease-in-out;
    width: 25px;

}
.show-button{
    border: 0px;
    padding :10px;
}

.chevron-right{
    transform: translateY(-50%) translateX(25%);
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 16px;
    background:#ffab5e;
    z-index: 3432;
    border-radius: 100%;
    padding: 9px;
    cursor: pointer;
    display: none;
    
}

.chevron-right i{
    text-align: center;

}



@media (max-width: 750px) {
    #hide_btn {
        display: block; /* أخفي الأيقونة عند العرض أقل من 750 */
    }
}

@media (max-width: 400px) {
    .sections {
        margin-left: 5px;
    }
   .ction a {
    padding: 10px 10px;
   }
}